<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 style='color: green;'>Welcome to the Thunderdome</h1>
    {{{body}}}
  </body>
</html>
